<figure class="container col-sm-6 mx-auto py-4 border border-start">
  <blockquote class="blockquote">
    <p> <%= @question %> </p>
  </blockquote>
  <figcaption class="blockquote-footer">
   <cite title="Source Title">You</cite>
  </figcaption>
</figure>

<figure class="container col-sm-6 mx-auto py-4 border border-start" class="alert alert-light" role="alert">
  <blockquote class="blockquote">
    <p> <%= @answer %> </p>
  </blockquote>
  <figcaption class="blockquote-footer">
   <cite title="Source Title">Coach</cite>
  </figcaption>
</figure>
